compile_commands.json

# Source codes for reference.
.resources/

# Object files
*.o
*.dylib
*.so

# tests
*.diffs
results/
tests/pg_regress/results
tests/pg_regress/regression.diffs
tests/pg_regress/regression.out

# Build directory
_build/
.DS_Store
.idea/
/target
*.iml
**/*.rs.bk
Cargo.lock
